{% extends "base.html" %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}

      <div class="container">
        <div class="row justify-content-md-center pt-5">
          <div class="col-7"><h1>{{post.title}}</h1></div>
          <div class="col-7"><p>{{post.content|safe}}</p></div>
          <div class="col-md-7">
              {% with comments.count as total_comments %}
              <h2>
              {{ total_comments }} comment{{ total_comments|pluralize }}
              </h2>
              {% endwith %}
<hr>
              {% load mptt_tags %}

          {% recursetree comments %}
                  <h5>{{ node.name }}- level[{{ node.level }}]</h5>
                  <h6 id="{{ node.id }}">{{ node.content}}</h6>
                      {% if node.level < 6 %}
                      <button class="btn btn-outline-info" onclick="myFunction({{ node.id }})">Reply</button>
                      {% endif %}
                {% if not node.is_leaf_node %}
                    <div class="children pl-2 pl-md-5">
                      {{ children }}
                    </div>
                {% endif %}
              {% endrecursetree%}

{% comment %}
              <div class="comment">
              {% for comment in comments %}
                Comment {{ forloop.counter }} by {{ comment.name }}
                on {{ comment.publish }}
                {{ comment.content|linebreaks }}
              {% empty %}
                <p>There are no comments for this post.</p>
              {% endfor %}
                <h2>Make a new comment</h2>
              </div>
{% endcomment %}
              <form id="myForm" method="post">
              {{ comment_form.as_p }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
              </form>

          </div>
        </div>
      </div>
      <script>
        function formExit() {
            document.getElementById("newForm").remove();
        }
        function myFunction(id) {
           if (document.contains(document.getElementById("newForm"))) {
             document.getElementById("newForm").remove();
           }
             var d1 = document.getElementById(id);
             d1.insertAdjacentHTML('afterend',
                  '<form id="newForm" class="form-insert py-2" method="post"> \
                        <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-danger" onclick="formExit()"">Close</button></div></div> \
                        <label for="id_name">Name:</label> \
                        <input type="text" name="name" class="col-sm-12" maxlength="50" required="" id="id_name">\
                        <select name="parent" class="d-none" id="id_parentt"> \
                        <option value="' + id + '" selected="' + id + '"></option> \
                        </select> \
                        <label for="id_email">Email:</label> \
                        <input type="text" name="email" class="col-sm-12" maxlength="254" required="" id="id_email"> \
                        <label for="id_content">Content:</label> \
                        <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                        {% csrf_token %} \
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
                  </form>');

            //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
        }
      $('#myForm').trigger("reset");
      </script>

{% endblock %}
